h1{text-align: center; color: blueviolet;}
h2{ color:darkred }
h3{font-size: large; color: crimson}
p{ color: white; font-family: sans-serif; text-align: center}
body{background-color: white}
img{vertical-align: middle;}
u1{list-style-type: square;}
